body {
  position:relative;
  padding: 0px;
  font-family: Arial, sans-serif;
  background-color: #e5e7e9;
}

* {
  box-sizing: border-box;
}

/* Bandeau */
.bandeau {
  position: relative;
  text-align: center;
  background: white;
}

.titre {
  position: absolute;
  font-size: 50px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.soustitre {
  position: absolute;
  font-size: 30px;
  top: 80%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.imagefond {
  width: 100%;
  height: 200px;
}
/* Menu */
.menu {
  position: sticky;
  top: 0;
  width: 100%;
}

.menu a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #438A84;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  background-color: #438A84;
}

.menu a:hover, .dropdown:hover .dropbtn {
  background-color: #22504C;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #e5e7e9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.espace {
  height: 46px;
  background-color: #438A84;
  width: 100%;
}
/* Structure site */
.colonne {
  margin : auto;
  width: 75%;
}

.texte {
  background-color: #fdfefe;
  padding: 20px;
  margin-top: 20px;
}

.corp:after {
  content: "";
  display: table;
  clear: both;
}

/* Page des commentaires */
.section-cote:after {
  content: "";
  display: table;
  clear: both;
}

.sectionG {
  background-color: #f9f9f9;
  float: left;
  margin: 10px;
}

.sectionD {
  background-color: #f9f9f9;
  float: right;
  margin: 10px;
}

.user {
  padding: 5px;
  height: 85px;
  width: 85px;
}

.commentaire {
  padding: 5px;
  height: auto;
  width: auto;
}

label {
  margin-top: 20px;
  display: block;
}

textarea {
  display: inline-block;
  overflow: auto; 
  height: 117px;
  margin-bottom: 6px;
  padding: 10px 14px;
  width: 100%;
  font-size: 14px;
}

/* Images dans le contenu */
.resize {
  height: 75px;
  width: auto;
}

.ImageArticle {
  display: inline-block;
  width: 300px;
  height: auto; 
}
/* Liens */
.lienArticle:link {
  color: #0033ff;
  background-color: transparent;
  text-decoration: none;
  text-align : center;
}

.lienArticle:hover {
  color: #0099ff;
}

.lienArticle:visited {
  color: #8B008B;
}

/* Contacts */
table{
  border-spacing: 1px;
  width: 100%;
  border-width: 1px;
  border: solid thin;
}

td,th{
  padding: 10px;
  border: solid thin;
}

.colonne1{
  width: 20%;
}

.colonne2{
  width: 20%;
}

.colonne3{
  width: 60%; 
}


/* Pied de page */
.footer {
  padding: 20px;
  background: #22504C;
  margin-top: 20px;
  color: white;
  /*bottom: 0;*/
  /*probleme pour le coller au bas de la page quand manque de contenue*/
}

.centrer{
  text-align: center;
}

.contact{
  text-align: center;
}

.contact a{
 color: white;
 text-decoration: none;
}

.IUT {
  float: right;
  margin-right: 10px;
}

.réseau{
  float: left;
  margin-left: 10px;
}

.logo {
  height: 50px;
  width: auto;
}






/* Gestion de la taille de l'interface en fonction de la taille de la fenètre */


@media screen and (max-width: 1000px) {
  .colonne{   
    width: 90%;
    padding: 0;
  }
}


@media screen and (max-width: 800px) {
  .colonne  {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .menu a {
    float: none;
    width: 100%;
  }
}


